
:root {
    --cor-fundo : #ffffff;
    --cor-destaque : #051923;
    --cor-clara : #d5e5ec;
    --cor-media : #00759C;
    --cor-escura : #003459;

}

body {
    background-color: var(--cor-fundo);
}

#banner {
    width: 100%;

}
.principal {
    background-color: var(--cor-clara);
    padding: 30px;
}

.titulo-principal {
    color: var(--cor-destaque);
    padding-left: 20px;

}

.titulo-centralizado {
    color: var(--cor-escura);
    text-align: center;
}
p {
    color: var(--cor-destaque);

}

#missao {
    font-size: 20px;
    text-align: center;

}

em strong {
    color: var(--cor-media);

}

.beneficios {
    background-color: var(--cor-fundo);
    padding: 20px;
}

.itens {
    font-style: italic;
    color: var(--cor-escura);
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
    
}