@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --cor-fundo : #ffffff;
    --cor-destaque : #04090c;
    --cor-clara : #d5e5ec;
    --cor-media : #00759C;
    --cor-escura : #003459;
}

header {
    background-color: var(--cor-escura);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto ;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li  {
    display: inline;
    margin: 0 0 0 15px;
    color: var(--cor-destaque);
    font-family: 'Roboto';

}

nav a {
    text-transform: uppercase;
    color: var(--cor-destaque);
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Roboto';

}

nav a:hover {
    color:rgb(172, 234, 236);

}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.produtos li {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    vertical-align: top;  
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 3px solid var(--cor-escura);
    border-radius: 10px;

}

.produtos li:hover {
    border-color: rgb(103, 187, 226);
}

.produtos li:active {
    border-color: #197c22;

}

.produtos li:hover h2{
    font-size: 34px;

}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto';

}

.descricao-produto {
    font-size: 18px;
    font-family: 'Roboto';

}

.preco-produto {
    font-size:  22px;
    font-weight: bold;
    margin: top 10px;
    font-family: 'Roboto';

} 

footer {
    text-align: center;
    background-color: var(--cor-escura);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    font-weight: lighter;
    font-family: 'Roboto';

}

/* contatos */

main {
    width: 940px;
    margin: 0 auto;

}

form {
    margin: 40px 0;

}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: 'Roboto';

}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;

}

.checkbox {
    margin: 20px 0;

}